/* 
    Document   : global
    Created on : 13-sep-2011, 20:01:16
    Author     : Administradores1
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

